.cardHolder {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  width: 100%;
  margin-top: 15px;
}
